/*========================= GOOGLE FONTS =========================*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@300;400;500;600&display=swap");

/*========================= VARIABLES CSS =========================*/
:root {
  /*____________________ Colors ____________________*/
  --clr-dark: #0E1515;
  --clr-gray: #A0A3A3;
  --clr-light: #d4cfc2;
  --clr-green: #354242;
  --clr-yellow: #FFC700;
  --clr-hover: orangered;

  /*____________________ Font and typography ____________________*/
  --font-family-text1: 'Space Grotesk', sans-serif;
  --font-family-text2: "Poppins", sans-serif;

  /*____________________ Font Size ____________________*/
  --fs-title: 1.75rem;
  --fs-logo: 1.5rem;

  --fs-huge: 7rem;
  --fs-larger: 2.5rem;
  --fs-large: 2rem;
  --fs-medium: 1.25rem;
  --fs-small: 1rem;
  --fs-smaller: 0.75rem;

  /*____________________ z index ____________________*/
  --z-behind: -10;
  --z-tooltip: 10;
  --z-fixed: 20;
  --z-modal: 30;
}

/*____________________ Title and Text ____________________*/
.title__big {
    font-size: 7rem;
    font-weight: 300;
}
.title__blue {
    color: #0038FF;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.25em;
}
.title__medium {
    font-size: 2.25rem;
}
.title__small {
    font-size: 1.25rem;
    font-weight: 400;
}
.text__subtitle {
    color: #97A5D9;
    font-size: 1.125rem;
    font-weight: 100;
    margin-bottom: 5px;
}
/*____________________ Button ____________________*/
/* .button {
  display: inline-block;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-light);
  font-weight: var(--fw-medium);
  color: var(--clr-light);
  font-size: var(--fs-small);
}
.button:hover {
  color: red;
  background-color: white;
} */
/*========================= BASE =========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 1.25rem;
  font-weight: 200;
  font-family: var(--font-family-text1);
  color: var(--clr-light);
  background-color: var(--clr-dark);
  letter-spacing: 0.2em;

  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--clr-light);
}
img {
  max-width: 100%;
  height: auto;
}
.container__section {
    height: 100vh;
    width: 100vw;
    position: relative;
    padding-top: 180px;
    background: linear-gradient(180deg, #AFAFAF 0%, rgba(49, 100, 100, 0) 100%);

    display: flex;
    justify-content: center;
}

.title__bottom {
    font-size: 1.75rem;
    text-align: center;
    /* padding-top: 150px; */
    position: absolute;
    width: 200px;
    bottom: 50px;

}

/*========================= NAVIGATION BAR =========================*/
header {
    height: 3.5rem;
    position: fixed;
    margin: 40px;
    z-index: 10;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__links {
    width: 350px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__links li a {
    color: var(--clr-dark);
}

.nav__links li a:hover:not(.active) {
    background-color: #111;
}
/* .active {
    background-color: #00d0ff;
} */
.hor__line {
    width: 60px;
    height: 2px;
    background-color: black;
}

/*========================= HERO SECTION =========================*/
.hero__section {
    display: flex;
    justify-content: center;
}
.profile__container {
    height: 600px;
    width: 300px;
    background: linear-gradient(180deg, #717171 0%, rgba(0, 0, 0, 0.1) 100%);

    display: grid;
    grid-template-columns: 15px 270px 15px;
    grid-template-rows: 15px 585px;
}

.border__top {
    grid-column: 1 / span 3;
    background-color: orangered;
}

.profile__content {
    grid-column: 2;
}
.profile__introduce {
    font-size: 12px;
    line-height: 160%;
    margin: 30px 0 0 10px;
    
}
.tab__space {
    margin-left: 20px;
}

.border__right {
    grid-column: 3;
    background-color: orangered;
}


/*========================= ABOUT SECTION =========================*/
.about__card {
    width: 250px;
    height: 500px;
    overflow: hidden;
    background-color: var(--clr-dark);
}

.about__card img {
    width: 250px;
    height: 400px;
    filter: grayscale(1);
    object-fit: cover;
}
  
.about__data {
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
}
  
.about__title, 
.about__description {
    color: white;
}
  
.about__title {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}
  
.about__description {
    display: block;
    font-size: 12px;
}
  
.about__img {
    transition: 0.3s;
}
  
.about__img:hover {
    transform: 1.1;
}
  
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}

/*========================= EXPERIENCE SECTION =========================*/
.accordion__body {
    max-width: 450px;
}
.accordion__container {
    width: 100%;
    margin: 0 auto;
    padding: 1.25rem;
}
.accordion__item {
    position: relative;
    margin: 10px 10px;
}
  
.accordion__label {
    position: relative;
    padding: 0.5rem 0;
    cursor: pointer;
}
.accordion__title {
    font-size: 1.125rem;
    position: relative;
    color: #0E1515;
}
.accordion__tags {
    display: flex;
    margin: 0.5rem auto 0;
}
  
.accordion__tags li {
    font-size: 12px;
    color: var(--clr-dark);
    padding-right: 5px;
}
.accordion__arrow {
    position: absolute;
    top: 40%;
    right: -5px;
    color: var(--clr-light);
    font-size: 2rem;
}
.accordion__tags .uil-arrow-down {
    display: none;
}
  
.accordion__content {
    height: 0;
    font-size: 14px;
    padding: 0 1.25rem;
    margin-top: 0.25rem;
    background-color: var(--clr-dark);
    position: relative;
    overflow: hidden;
    transition: 0.5s;

    display: flex;
    align-items: center;
}
  
.accordion__line {
    border: 1px solid black;
  }
  
.accordion__item.active .accordion__content {
    height: 150px;
  }
  
.accordion__item.active .accordion__label .accordion__tags .uil-arrow-right {
    display: none;
  }
.accordion__item.active .accordion__label .accordion__tags .uil-arrow-down {
    display: block;
}
  
.accordion__item.active .accordion__title {
    color: orangered;
  }
